.jumbotron {
  background-image: src("img/Y1.jpg");
}

button {
  color: #fff;
  background-color: #0069d9;
  border-color: #0062cc;
  box-shadow: 0 0 0 0.1rem rgba(38, 143, 255, 0.5);
}

.ENTAH {
  text-align: justify;
  padding: 4%;
}
